.DS_Store
Thumbs.db
*.swp
/public/
/static/songs/
/content/songs/*/
/songs/*/editions/*/build/
/songs/*/editions/*/.mscbackup/
*.mscz.autosave
/experiments/content-id/*/build/
/scripts/__pycache__/
/content/experiments/content-id/*/
